%default_text {
    font-size: 14px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

%tall_text {
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

%small_text {
    font-size: 12px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
