@import './extensions.scss';

$body_color: #4c2772;
$border_after: #ff9950;
$error_color: #d70303;
$status_color: #04f704;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    top: 100px;
    left: 500px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    @extend %default_text;

    .status {
        color: $status_color;
    }
}

.flex {
    background-color: $body_color;
    padding: 40px 20px;
    width: 300px;
    height: 100%;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid $border_after;
    border-radius: 20px;
    box-shadow: 2px 2px black;

    textarea {
        padding: 2px 5px;
        width: 100%;
        max-width: 270px;
        height: 150px;
        color: white;
        outline: 0;
        background-color: inherit;
        border: 1px solid white;
        border-radius: 0px 15px 15px 15px;
        resize: none;
        text-align: justify;

        &::placeholder {
            padding: 50px 5px;
            color: white;
            @extend %small_text;
        }
    }

    button {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 10px 10px 0px 10px;
        background-color: $border_after;
        color: white;
        font-weight: 700;
        @extend %small_text;

        &:hover {
            cursor: pointer;
            background-color: #381c54;
            box-shadow: 2px 3px black;
        }
    }

    .title {
        font-size: 28px;
        color: white;
    }

    .field {
        position: relative;
        height: 52px;
        width: 100%;
        max-width: 200px;
        color: white;
        overflow: hidden;

        input {
            padding: 5px 0px;
            position: absolute;
            height: 100%;
            width: 100%;
            color: white;
            line-height: 52px;
            outline: 0;
            background-color: inherit;
            padding-top: 25px;
            border: none;

            &::placeholder {
                color: rgb(127, 117, 117);
            }
        }

        .label_wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            background-color: inherit;
            left: 0;
            pointer-events: none;
            border-bottom: 1px solid white;

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $border_after;
                left: 0;
                bottom: -1px;
                transform: translateX(-100%);
                transition: transform 0.2s ease;
            }
        }

        .label_text {
            bottom: 5px;
            left: 0px;
            transition: all 0.2s ease;
        }
    }

    .field input:focus + .label_wrapper .label_text {
        font-size: 12px;
        color: $border_after;
        transform: translateY(-150%);
    }

    .field input:focus + .label_wrapper::after {
        transform: translateX(0%);
    }

    .error {
        border-bottom: 3px solid $error_color;
        border-radius: 5px;
    }

    .error_text {
        position: absolute;
        right: 0px;
        color: $error_color;
    }
}
